@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.cinematic {
	background-repeat: no-repeat;
	background-image: url("/img/Cinematic.jpg");
	background-size: cover;
	background-position: center center;
}
.backsider {
	width: 100%;
	height: 100vh;
  	overflow: auto;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
}
.carousel-inner img {
		width: 100%;
		height: 100%;
}
.giffer {
	background: space;
	border: 0;
}
.giffer :hover {
	background: black;
}
.nav-top {
	position: fixed;
	border-radius: 0 0 50px 50px;
	background: white;
	width: 300px;
	/* border: solid 1px; */
	z-index: 1;
}
.nav-text{
	font-family: 'Charm';
	/* Can't Select */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */    
	/* Cursor */
	cursor: pointer;
}
.nav-bot {
	position: fixed;
	border-radius: 20px 20px 10px 10px;
	background-color:rgba(0, 0, 0, 0.08);
	width: 60px;
	bottom: -100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 0px black;
	z-index: 1;
}
.nav-bot:hover {
	background-color:rgba(0, 0, 0, 0.95);
	border: solid 1px black;
}

/* Social Media -> font-awesome */
.fa {
	padding: 20px;
	/* font-size: 30px; */
	text-align: center;
	text-decoration: none;
	margin: 2px 2px;
	border-radius: 50px;
}
.fa:hover {
	opacity: 0.7;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}

/* flags */
.flag {
	padding: 20px;
	text-align: center;
	text-decoration: none;
	margin: 2px 2px;
	border-radius: 50px;
	background: white;
	color: black;
	border: solid 1px #d4b8a8;
}
.flag:hover {
	opacity: 0.7;
}
.nav-flag {
	position: fixed;
	left: -100px;
	top: -100px;
	z-index: 1;
}