@charset "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.cinematic-background {
	background-repeat: no-repeat;
	background-image: url("/img/Cinematic.jpg");
	background-size: cover;
	background-position: center center;
}
.logo-text {
	font-family: 'Charm';
	/* Can't Select */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */    
	/* Cursor */
	cursor: pointer;
	font-size: x-large;
	color: white;
}